body {
    font-family: "Monteserrat";
    background-color: #181719;
    color: white;
    position: relative;
    padding: 20px 20px 0px 20px;
    margin: 10px 10px 0px 10px;
    height: 100vh;
    position: relative;
}

* {
    margin: 0px;
    padding: 0px;
}

/*--------General CSS--------*/
h1 {
    font-family: 'Lora';
    font-style: normal;
    font-size: 48px;
    font-weight: 500;
    padding: 2px;
}

h2 {
    font-size: 41px;
    font-weight: 600;
    padding: 2px;
}

h3 {
    font-size: 34px;
    font-weight: 600;
    padding: 2px;
}

h4 {
    font-family: 'Lora';
    font-size: 27px;
    font-weight: 300;
    padding: 2px;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    padding: 2px;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    padding: 2px;
}

p,
a {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
    color: white;
}

header {
    margin: 0px;
    padding: 7px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 7px;
    margin: 0px 10px 0px 10px;
}

ul li a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: none;
}

.active {
    color: white;
    text-decoration: underline;
}

.nav-brand {
    color: white;
    background-color: #181719;
    border: solid 1px white;
    padding: 7px;
    height: 40px;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;
}

.menuButton,
.closeButton {
    width: 60px;
    height: 60px;
    border: none;
    padding: 0px;
    margin: 0px;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
}

.menuButton {
    background-image: url(./img/menu.png);
}

.closeButton {
    background-image: url(./img/close.png);
    position: absolute;
    top: 0px;
    right: 0px;
}

.invisible {
    display: none;
    opacity: 0;
}

.menu-mobile {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 1;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    text-align: center;
}

/*------CSS section---------*/
.body-project {
    margin: 50px 0px 50px 0px;
}

.disc {
    padding: 25px;
    margin: 5px;
}

.disc h1 {
    padding: 0px 0px 25px 0px;
}

.disc p {
    width: 70%;
    padding: 0px 0px 25px 0px;
}

.read-more {
    padding: 0px 0px 25px 0px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: rgba(255, 0, 0, 0);
}

.suggestion {
    width: 100%;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/photo1.png);
    position: relative;
}

button {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.perfil {
    position: absolute;
    right: 100px;
    bottom: -50px;
    height: 170px;
    width: 80%;
    padding: 3px 3px 5px 20px;
    background-color: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perfil-person {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-perfil {
    margin: 5px;
    padding: 5px;
    width: 70%;
}
.t-perfil p{
    font-size: 12px;
}
.photo-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer {
    margin-top: 100px;
    position: absolute;
    bottom: 0px;
    left: 25%;
}

footer p {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    body {
        padding: 10px 10px 0px 10px;
        margin: 5px 5px 0px 5px;
    }
    .menu-mobile ul {
        flex-direction: column;
        padding: 7px;
        margin: 4px;
    }

    .menu-mobile ul li {
        padding: 20px 0px 20px 0px;
    }

    .desktop-menu {
        display: none;
    }

    .suggestion {
        width: 100%;
        height: 600px;
    }

    footer {
        left: 0px;
        position: relative;
    }
}

@media only screen and (min-width: 1000px) {
    .body-project {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .disc {
        width: 40%;
        padding: 20px;
    }

    .suggestion {
        width: 60%;
        height: 600px;
    }

    .menuButton {
        display: none;
    }
    .perfil {
        width: 400px;
    }
}